body{
    background: rgb(255, 255, 255);
    background: violet;
    background-attachment: fixed;
    margin: 0;
}
form {
    width: 400px;
    margin: 10vh auto 0 auto;
    background-color: rgb(195, 195, 195);
    border-radius: 5px;
    padding: 30px;
    font-family: sans-serif;
}
h1{
    text-align: center;
    color: purple;
}
form button{
    background-color: purple;
    color: white;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}
 .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
 }
 .input-group input {
    border-radius: 5px;
    font-size: 15px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid lightskyblue;
 }
 .input-group input:focus{
    outline: 0;
 }
 .error {
    color: red;
    font-size: 10px;
    margin-top: 5px;
 }
.input-group.succes input {
    border-color: green;
}
.input-group.error input {
    border-color: red;
}
p {
    font-size: 1rem;
    color: #333;
}
a {
    color: blue;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}